/* Global Styles */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

.alert {
	/* Ми додали відстань лише зверху елемента: -top */
	margin-top: 10px;
}

/* знайшли елемент футера по його унікальному ідентифікатору footer */
#footer {
	/* задаємо верхню межу елемента: ширина лінії, тип лінії, колір лінії */
	border-top: 1px solid #dddddd;
	/* задаємо внутрішню відстань елемента до верхнього краю */
	padding-top: 10px;
}

/* Groups Selector */
#group-selector {
	margin-top: 30px;
}
#group-selector select {
	margin: 0;
	width: 85%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 30px;
	line-height: 30px;
	color: #555555;
}
#FormControlSelect {
	width: 50%;
	height: 26px;
	padding: 5px 4px;
}
.form-control-plaintext {
	border-radius: 4px;
	border: 1px solid #cccccc;
	padding-left: 4px;
	padding-top: 4px; 
}
.col-form-label {
	text-align: right;
	margin-top: 4px;
}
#FormControlTextarea {
	width: 176px;
	height: 106px;
}
#submitFooter {
	background-color: #f0e8e8
}